.amenities {
    min-height: 150px;
    margin: 30px 5px;
    background-color: whitesmoke;
    padding: 30px 0;
    box-shadow: 0.2px 0.2px 2px 0.1px #f2d626;

    .title{
        text-align: center;
        padding-bottom: 30px;
    }

    &_items {
        width: 85vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

          @media screen and (max-width: 768px) {
            & {
              width: 75vw;
              margin: 0 auto;
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-gap: 12px;
            }
          }
          
          @media screen and (max-width: 480px) {
            & {
              width: 65vw;
              margin: 0 auto;
              display: grid;
              grid-template-columns: 1fr;
              grid-gap: 10px;
            }
          }
        }

        &_item_img {
        width: 100%;
        height: auto;
    }
}
  
